.container:after {
  content: "";
  display: block;
  clear: both; }

@font-face {
  font-family: "Gagalin";
  src: url("../fonts/gagalin-regular.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Lifehack";
  src: url("../fonts/lifehack_medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-regular.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

html, body {
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  font-weight: 500;
  min-height: 100%;
  width: 100%;
  line-height: 24px;
  color: #fff; }

section {
  min-height: 650px; }

h1, h2, h3, h4, h5 {
  margin: 0;
  line-height: inherit; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

.wrapper {
  overflow: hidden; }

.container {
  max-width: 960px;
  margin: 0 auto; }

.responsive-img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto; }

.button {
  display: inline-block;
  font-size: 13px;
  line-height: 1em;
  padding: 13px 16px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  vertical-align: middle; }

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  fill: currentColor; }

.icon_scroll {
  fill: #fff; }

.icon_meat {
  fill: #e25028; }

.icon_hand {
  fill: #f8b43a; }

.icon_natural {
  fill: #8ac03e; }

.topline {
  height: 90px; }

.topline__logo {
  float: left;
  line-height: 90px;
  padding: 0px 10px; }
  .topline__logo-img {
    display: inline-block;
    max-height: 90px;
    vertical-align: middle; }

.topline__right {
  float: right; }

.topline__nav {
  padding: 0px 10px; }

.topline__button {
  background-color: #e45028; }
  .topline__button:hover {
    background-color: #c1401e; }

.nav {
  display: inline-block; }
  .nav__item {
    display: inline-block;
    line-height: 90px;
    margin-left: 14px; }
    .nav__item:after {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #fff;
      display: inline-block;
      vertical-align: middle;
      margin-left: 14px; }
    .nav__item:last-child {
      margin-right: 12px; }
      .nav__item:last-child:after {
        display: none; }
    .nav__item a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 13px;
      font-family: Ubuntu, Arial, Sans-serif;
      font-weight: 500;
      color: #fff;
      vertical-align: middle; }

.header {
  background-image: url(../img/header/header-bg.jpg);
  background-size: cover;
  background-position: center; }
  .header__left, .header__right {
    float: left;
    width: 50%;
    padding: 0px 10px; }
  .header__left {
    text-align: center; }
  .header__title {
    margin-top: 115px;
    font-family: Gagalin, serif;
    font-size: 72px;
    color: #f9b43b;
    line-height: 85px; }
  .header__subtitle {
    margin-top: 20px;
    font-family: Lifehack, serif;
    font-size: 65px;
    line-height: 60px; }

.scroll {
  width: 100%;
  text-align: center;
  padding: 85px 0px 40px 0px; }

.side-nav {
  position: fixed;
  top: 90px;
  right: 45px;
  z-index: 999; }
  .side-nav__item {
    border-radius: 50%;
    padding: 5px;
    width: 7px;
    height: 7px;
    margin: 0 auto 5px auto;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; }
    .side-nav__item a {
      display: block;
      background-color: #fff;
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  .side-nav__item--active {
    border: solid 1px #fff; }

.about {
  background-image: url(../img/webest/background.jpg);
  background-size: cover;
  background-position: center;
  padding: 70px 0px 150px 0px;
  color: #2f3234; }

.about__header {
  font-family: Gagalin, serif;
  font-size: 72px;
  text-align: center;
  line-height: 64px;
  margin-bottom: 90px; }

.advantages {
  width: 33.33%;
  text-align: center;
  float: left;
  padding: 0px 10px; }
  .advantages__icon {
    margin-bottom: 20px;
    height: 100px;
    width: 100px; }
  .advantages__header {
    font-family: Lifehack, serif;
    font-size: 24px;
    margin-bottom: 12px; }
  .advantages__text {
    font-weight: 300; }

.review {
  width: 25%;
  height: 29vw;
  float: left;
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  position: relative;
  overflow: hidden; }
  .review:hover .review__caption {
    bottom: 0; }
  .review__caption {
    height: 100%;
    padding: 50px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
  .review__title {
    font-family: Gagalin, serif;
    font-size: 14px;
    line-height: 2em;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .review__text {
    font-weight: 300;
    margin-bottom: 20px; }
  .review__button {
    background-color: #2f3234; }
    .review__button:hover {
      background-color: #1f2122; }
