@font-face {
  font-family: "Gagalin";
  src: url("../fonts/gagalin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Lifehack";
  src: url("../fonts/lifehack_medium.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

html, body {
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  width: 100%;
  line-height: 1.71429rem;
  color: #fff; }
  @media screen and (max-width: 480px) {
    html, body {
      font-size: 2.9vw; } }

section {
  height: 100%;
  min-height: 46.42857rem;
  position: relative; }

h1, h2, h3, h4, h5 {
  margin: 0;
  line-height: inherit; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%; }

.maincontent {
  height: 100%;
  -webkit-transition: all 1s;
  transition: all 1s; }

.container {
  max-width: 68.57143rem;
  margin: 0 auto;
  padding: 0rem 0.71429rem; }

.responsive-img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto; }

.section__title {
  font-family: Gagalin, sans-serif;
  font-size: 5.14286rem;
  color: #f9b43b;
  line-height: 4.57143rem; }
  @media screen and (max-width: 480px) {
    .section__title {
      font-size: 3.57143rem; } }

.icon {
  display: inline-block;
  width: 2.14286rem;
  height: 2.14286rem;
  fill: currentColor; }

.icon_scroll {
  fill: #fff; }

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.icon_social {
  color: #5a5a5a;
  width: 1.78571rem;
  height: 1.78571rem; }
  .icon_social:hover {
    color: #fff; }

.icon_phone {
  width: 0.85714rem;
  height: 0.85714rem;
  margin-right: 0.5rem; }

.icon_burgers-small {
  width: 3.57143rem;
  height: 3.57143rem; }

.icon_burgers {
  width: 5rem;
  height: 5rem;
  position: relative; }

.icon_slider-left {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.icon_slider-right {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.icon_contents {
  width: 2.85714rem;
  margin-right: 1.42857rem; }

.icon_orange {
  fill: #e25028; }

.icon_yellow {
  fill: #f8b43a; }

.icon_green {
  fill: #8ac03e; }

.button {
  display: inline-block;
  font-size: 0.92857rem;
  line-height: 0.92857rem;
  padding: 0.92857rem 1.14286rem;
  border-radius: 0.35714rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  vertical-align: middle;
  border: none;
  font-weight: 700;
  cursor: pointer; }

.button_order {
  background-color: #e45028; }
  .button_order:hover {
    background-color: #c1401e; }

.button_review {
  background-color: #2f3234; }
  .button_review:hover {
    background-color: #1f2122; }

.topline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.71429rem; }

.topline__logo {
  padding: 0 0.71429rem;
  margin-right: auto; }

.topline__logo-img {
  width: 6.42857rem;
  height: auto; }

.topline__nav {
  padding: 0rem 0.71429rem; }
  @media screen and (max-width: 768px) {
    .topline__nav {
      display: none; } }

@media screen and (max-width: 768px) {
  .topline__nav_active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2f3334; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .nav__list {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.nav__item {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 768px) {
    .nav__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .nav__item:after {
    content: '';
    display: block;
    width: 0.35714rem;
    height: 0.35714rem;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 1rem; }
    @media screen and (max-width: 768px) {
      .nav__item:after {
        margin: 1.42857rem 0; } }
  .nav__item a {
    border-bottom: solid 1px transparent; }
    .nav__item a:hover {
      border-color: #fff; }
  .nav__item:last-child {
    margin-right: 0.85714rem; }
    .nav__item:last-child:after {
      display: none; }
  .nav__item a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.92857rem;
    font-family: Ubuntu, Arial, Sans-serif;
    font-weight: 400;
    color: #fff; }
    @media screen and (max-width: 768px) {
      .nav__item a {
        font-size: 1.71429rem;
        font-weight: 300; } }

.nav-toggle {
  position: relative;
  height: 1.64286rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2.14286rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .nav-toggle {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .nav-toggle__button, .nav-toggle__button:before, .nav-toggle__button:after {
    background: #fff;
    width: 1.78571rem;
    height: 0.35714rem;
    border-radius: 0.21429rem;
    display: block; }
  .nav-toggle__button:before, .nav-toggle__button:after {
    content: "";
    position: absolute; }
  .nav-toggle__button:before {
    top: 0; }
  .nav-toggle__button:after {
    bottom: 0; }
  .nav-toggle__button_close, .nav-toggle__button_close:before, .nav-toggle__button_close:after {
    background: transparent;
    width: 1.78571rem;
    height: 0.35714rem;
    border-radius: 0.21429rem;
    display: block; }
  .nav-toggle__button_close:before, .nav-toggle__button_close:after {
    background: #fff; }
  .nav-toggle__button_close:before, .nav-toggle__button_close:after {
    content: "";
    position: absolute; }
  .nav-toggle__button_close:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .nav-toggle__button_close:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

.header {
  background: url("../img/header/header-bg.jpg") center;
  background-size: cover; }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh; }

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 768px) {
    .header__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 12.14286rem; } }
  @media screen and (max-width: 480px) {
    .header__content {
      padding: 0 3.57143rem; } }

.header__left, .header__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.header__img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block; }

@media screen and (max-width: 768px) {
  .header__title, .header__subtitle {
    text-align: center; } }

.header__title {
  line-height: 6.07143rem; }
  @media screen and (max-width: 768px) {
    .header__title {
      margin-top: 3.21429rem; } }
  @media screen and (max-width: 480px) {
    .header__title {
      font-size: 4.5rem; } }

.header__subtitle {
  margin-top: 1.42857rem;
  font-family: Lifehack, sans-serif;
  font-size: 4.64286rem;
  line-height: 4.28571rem; }
  @media screen and (max-width: 480px) {
    .header__subtitle {
      font-size: 3.85714rem;
      margin-top: 0; } }

.scroll {
  width: 100%;
  text-align: center;
  padding: 0 0 3.57143rem; }

.about {
  background: url(../img/webest/background.jpg) center;
  background-size: cover;
  color: #2f3234; }

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 0.71429rem;
  min-height: 100vh; }

.about__title {
  color: #2f3234;
  text-align: center;
  margin-bottom: 6.42857rem; }
  @media screen and (max-width: 480px) {
    .about__title {
      margin-bottom: 5rem; } }

.about__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 480px) {
    .about__advantages {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.advantage {
  text-align: center;
  padding: 0rem 0.71429rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  @media screen and (max-width: 480px) {
    .advantage {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: left;
      margin-bottom: 3.57143rem; } }
  .advantage__icon {
    margin-bottom: 2.85714rem;
    height: 7.14286rem;
    width: 7.14286rem; }
    @media screen and (max-width: 480px) {
      .advantage__icon {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 7.14286rem;
                flex: 1 0 7.14286rem;
        margin-right: 1.42857rem; } }
  .advantage__header {
    font-family: Lifehack, sans-serif;
    font-size: 1.71429rem;
    margin-bottom: 0.85714rem; }
  .advantage__text {
    font-weight: 300; }

.burgers {
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(#eb8e38), to(#f9b43b));
  background: linear-gradient(#f9b43b, #eb8e38, #f9b43b);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.burgers__container {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .burgers__container {
      max-width: 46rem; } }
  @media screen and (max-width: 480px) {
    .burgers__container {
      max-width: 34.28571rem; } }

.slider__controls {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 9; }
  .slider__controls_left {
    right: 100%; }
  .slider__controls_right {
    left: 100%; }
  .slider__controls a {
    color: #fff; }
  @media screen and (max-width: 768px) {
    .slider__controls_left {
      left: 0;
      right: initial; }
    .slider__controls_right {
      right: 0;
      left: initial; } }

.slider__wrapper {
  overflow-x: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.slider__list {
  white-space: nowrap;
  font-size: 0;
  margin: 0;
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s; }

.slider__item {
  font-size: 14px;
  display: inline-block;
  width: 100%;
  height: 100%;
  white-space: normal;
  vertical-align: middle;
  position: relative; }

.burgers__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .burgers__slide {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.burgers__left, .burgers__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0.71429rem; }

@media screen and (max-width: 768px) {
  .burgers__left {
    padding: 0 2.85714rem; } }

@media screen and (max-width: 480px) {
  .burgers__left {
    padding: 0 0.71429rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }

@media screen and (max-width: 768px) {
  .burgers__right {
    padding: 0 0.71429rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.burgers__title {
  color: #fff;
  margin-bottom: 3.21429rem; }
  @media screen and (max-width: 768px) {
    .burgers__title {
      padding: 0 3.57143rem; } }
  @media screen and (max-width: 480px) {
    .burgers__title {
      margin-bottom: 0; } }

.burgers__text {
  margin-bottom: 2.5rem;
  font-weight: 300; }
  @media screen and (max-width: 480px) {
    .burgers__text {
      margin-bottom: 0; } }

@media screen and (max-width: 768px) {
  .burgers__title, .burgers__text {
    text-align: center; } }

.burgers__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 2.14286rem 0;
  color: #e35028; }

.burgers__price {
  font-size: 5.14286rem;
  font-family: Gagalin, sans-serif;
  margin-right: 0.71429rem; }

.burgers__button {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.burgers__currency {
  font-family: Gagalin, sans-serif;
  font-size: 2.14286rem;
  margin-right: 2.14286rem; }

.burgers__img {
  position: relative;
  text-align: center; }

.burgers__photo {
  max-height: 21.42857rem;
  max-width: 100%; }

.burgers__caption {
  width: 6.42857rem;
  height: 6.42857rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.burgers__caption_top {
  background: rgba(227, 80, 40, 0.4);
  border-radius: 0.5rem;
  top: -5.71429rem;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .burgers__caption_top:hover {
    background: #e35028; }
    .burgers__caption_top:hover .burgers__popup {
      display: block; }
  @media screen and (max-width: 768px) {
    .burgers__caption_top {
      position: relative;
      top: 0; } }

.burgers__caption_bottom {
  bottom: -5.71429rem; }
  @media screen and (max-width: 768px) {
    .burgers__caption_bottom {
      top: 0;
      right: 0; } }

.burgers__sub {
  font-family: Gagalin, sans-serif; }

.burgers__sub_inner {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.71429rem; }

.burgers__popup {
  position: absolute;
  left: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  color: #2f3234;
  padding: 1.42857rem;
  width: 19.28571rem;
  border-radius: 0.5rem;
  display: none;
  z-index: 2; }

.contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.contents__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.71429rem; }
  .contents__item:last-child {
    margin-bottom: 0; }

.contents__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.contents__weight {
  white-space: nowrap; }

.team {
  background: url("../img/team/team-bg.jpg") center;
  background-size: cover; }

.team__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background-color: rgba(47, 50, 52, 0.93);
  padding: 6.42857rem 5.71429rem; }
  @media screen and (max-width: 768px) {
    .team__wrapper {
      width: 100%;
      padding: 4.28571rem 0; } }

.team__title {
  margin-bottom: 6.42857rem; }
  @media screen and (max-width: 768px) {
    .team__title {
      text-align: center; } }

.team-member__item_active .team-member__name {
  color: #f9b43b; }
  .team-member__item_active .team-member__name:before {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.team-member__name {
  font-family: Gagalin, sans-serif;
  line-height: 2rem;
  margin-bottom: 0.71429rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-decoration: none;
  white-space: nowrap; }
  @media screen and (max-width: 768px) {
    .team-member__name {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 1.78571rem; } }
  .team-member__name:hover {
    color: #f9b43b; }
  .team-member__name:before {
    -webkit-transition: all .5s;
    transition: all .5s;
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: solid #f9b43b 0.35714rem;
    border-left: solid transparent 0.35714rem;
    border-right: solid transparent 0.35714rem;
    margin-right: 0.71429rem; }

.team-member__card-wrapper {
  height: 0;
  overflow: hidden;
  margin-bottom: 2.85714rem;
  -webkit-transition: all .5s;
  transition: all .5s; }
  @media screen and (max-width: 768px) {
    .team-member__card-wrapper {
      margin-bottom: 1.42857rem; } }

.team-member__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .team-member__card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.team-member__photo {
  width: 7.14286rem;
  height: 7.14286rem;
  border-radius: 50%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 1.14286rem;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.team-member__desc {
  width: 60%;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.team-member__position {
  font-weight: 700;
  margin-bottom: 0.71429rem; }

.team-member__text {
  font-weight: 300; }

@media screen and (max-width: 768px) {
  .team-member__position, .team-member__text {
    text-align: center; } }

.menu {
  background: url("../img/menu/menu-bg.jpg") center;
  background-size: cover;
  padding-top: 7.85714rem; }

.menu__title {
  color: #fff;
  padding: 0 5.71429rem; }

.menu__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; }
  @media screen and (max-width: 768px) {
    .menu__wrapper {
      width: 100%; } }

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.menu-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu-list__item_active .menu-list__link {
    color: #f9b43b; }

.menu-list__type {
  width: 4.28571rem;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s; }
  @media screen and (max-width: 480px) {
    .menu-list__type_hidden {
      width: 0rem;
      overflow: hidden; } }
  .menu-list__type_bg-meat {
    background: url("../img/menu/menu-items/bg-meat.jpg") center;
    background-size: cover; }
  .menu-list__type_bg-vegan {
    background: url("../img/menu/menu-items/bg-vegan.jpg") center;
    background-size: cover; }
  .menu-list__type_bg-diet {
    background: url("../img/menu/menu-items/bg-diet.jpg") center;
    background-size: cover; }

.menu-list__wrapper {
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.menu-list__link {
  font-family: Gagalin, sans-serif;
  font-size: 2.85714rem;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap; }

.menu-list__popup {
  background-color: rgba(47, 50, 52, 0.93);
  width: 0;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s; }

.popup-content {
  padding: 4.28571rem 2.14286rem;
  font-weight: 300;
  position: relative; }

.popup-close {
  position: absolute;
  top: 2.14286rem;
  right: 2.14286rem;
  width: 1.78571rem;
  height: 1.78571rem;
  cursor: pointer;
  display: none; }
  @media screen and (max-width: 480px) {
    .popup-close {
      display: block; } }
  .popup-close:before, .popup-close:after {
    content: "";
    background: #c1c2c2;
    width: 1.78571rem;
    height: 0.35714rem;
    border-radius: 0.21429rem;
    position: absolute;
    top: 50%; }
  .popup-close:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .popup-close:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.review {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  height: 50%;
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .review {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
      height: 25%; } }
  .review:hover .review__caption {
    bottom: 0;
    opacity: 1; }

.review__caption {
  height: 100%;
  width: 100%;
  padding: 3.57143rem 1.42857rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 100%;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }
  @media screen and (max-width: 768px) {
    .review__caption {
      text-align: center;
      padding: 2.14286rem 3.57143rem; } }
  @media screen and (max-width: 480px) {
    .review__caption {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.review__title {
  font-family: Gagalin, sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 1.42857rem;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .review__title {
      margin-bottom: 0.71429rem; } }
  @media screen and (max-width: 480px) {
    .review__title {
      font-size: 1.71429rem;
      line-height: 2rem; } }

.review__text {
  font-weight: 300;
  margin-bottom: 1.42857rem; }
  @media screen and (max-width: 480px) {
    .review__text {
      display: none; } }

.review-popup {
  position: relative;
  display: none;
  margin: 0 0.71429rem;
  border-radius: 0.71429rem; }
  .review-popup .review__title, .review-popup .review__text {
    color: #000; }

.delivery {
  background: url("../img/delivery/delivery-bg.jpg") center;
  background-size: cover; }

.delivery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.delivery__title {
  text-align: center;
  margin-bottom: 6.42857rem; }
  @media screen and (max-width: 480px) {
    .delivery__title {
      margin-bottom: 0.71429rem; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 10rem; } }
  @media screen and (max-width: 480px) {
    .form {
      padding: 0;
      margin-bottom: 3.57143rem; } }

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 0.71429rem; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.35714rem 0rem 0.71429rem; }
  @media screen and (max-width: 480px) {
    .form__row {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.form__label-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.42857rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__label-wrapper:last-child {
    margin-right: 0rem; }

.form__checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.42857rem; }
  .form__checkbox-wrapper:last-child {
    margin-right: 0rem; }

.form__input {
  width: 100%;
  border-radius: 0.35714rem;
  padding: 0.71429rem 0.35714rem; }

.form__radio {
  margin-right: 0.71429rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .form__radio:checked:before {
    content: '';
    display: block;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background: #e35028; }

.form__checkbox {
  margin-right: 0.71429rem;
  position: relative; }
  .form__checkbox:checked:before {
    content: '';
    display: block;
    width: 0.5rem;
    height: 0.28571rem;
    border-bottom: solid 0.14286rem #e35028;
    border-left: solid 0.14286rem #e35028;
    position: absolute;
    top: 32%;
    left: 47%;
    -webkit-transform: translate(-50%, -50%) rotate(-50deg);
            transform: translate(-50%, -50%) rotate(-50deg); }

.form__label {
  font-weight: 300; }

.form_reset {
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer; }
  .form_reset:focus {
    outline: none; }

.form__submit {
  margin-right: 1.42857rem; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4.28571rem;
  background-color: #111; }
  @media screen and (max-width: 480px) {
    .footer {
      height: auto; } }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 1.07143rem 0; } }

.footer__contacts {
  margin-right: auto; }
  @media screen and (max-width: 480px) {
    .footer__contacts {
      margin-right: 0;
      margin-bottom: 0.71429rem; } }

.footer__adress {
  font-weight: 300; }

.footer__phone {
  color: #e45028;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media screen and (max-width: 480px) {
  .footer__adress, .footer__phone {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.social-icons__item {
  margin-right: 1.42857rem; }
  .social-icons__item:last-child {
    margin-right: 0rem; }

.side-nav {
  position: fixed;
  top: 6.42857rem;
  right: 3.21429rem;
  z-index: 99; }
  @media screen and (max-width: 768px) {
    .side-nav {
      display: none; } }
  .side-nav__item {
    border-radius: 50%;
    padding: 0.35714rem;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 auto 0.35714rem auto;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    border: solid 0.07143rem transparent; }
    .side-nav__item a {
      display: block;
      background-color: #fff;
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  .side-nav__item:hover, .side-nav .active {
    border: solid 0.07143rem #fff; }
