.container:after {
  content: "";
  display: block;
  clear: both; }

@font-face {
  font-family: "Gagalin";
  src: url("../fonts/Gagalin-Regular") format("woff");
  font-weight: 500; }

@font-face {
  font-family: "Lifehack";
  src: url("../fonts/Lifehack-Medium") format("woff");
  font-weight: 500; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Light") format("woff");
  font-weight: 300; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Medium") format("woff");
  font-weight: 500; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu") format("woff");
  font-weight: 600; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold") format("woff");
  font-weight: 700; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

html, body {
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  font-weight: 500;
  min-height: 100%;
  width: 100%;
  line-height: 24px;
  color: #fff; }

section {
  min-height: 650px; }

h1, h2, h3, h4, h5 {
  margin: 0;
  line-height: inherit; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

.container {
  max-width: 960px;
  margin: 0 auto; }

.responsive-img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto; }

.button {
  display: inline-block;
  font-size: 13px;
  line-height: 1em;
  padding: 13px 16px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff; }

.topline {
  height: 90px; }
  .topline__right {
    float: right;
    padding: 0px 10px; }

.logo {
  float: left;
  line-height: 90px;
  padding: 0px 10px; }
  .logo__img {
    display: inline-block;
    max-height: 90px;
    vertical-align: middle; }

.nav {
  display: inline-block; }
  .nav__item {
    display: inline-block;
    line-height: 90px;
    margin-left: 14px; }
    .nav__item:after {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #fff;
      display: inline-block;
      vertical-align: middle;
      margin-left: 14px; }
    .nav__item:last-child {
      margin-right: 12px; }
      .nav__item:last-child:after {
        display: none; }
    .nav__item a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 13px;
      font-family: Ubuntu, Arial, Sans-serif;
      font-weight: 500;
      color: #fff; }

.button--order {
  background-color: #e45028; }
  .button--order:hover {
    background-color: #c1401e; }

.header {
  background-image: url(../img/header/header-bg.jpg);
  background-size: cover;
  background-position: center; }
  .header-left, .header-right {
    float: left;
    width: 50%;
    padding: 0px 10px; }
  .header-left {
    text-align: center; }
  .header__subtitle {
    margin-top: 115px;
    font-family: Gagalin;
    font-size: 72px;
    color: #f9b43b;
    line-height: 85px; }
  .header__title {
    margin-top: 20px;
    font-family: Lifehack;
    font-size: 65px;
    line-height: 60px; }

.scroll {
  width: 100%;
  text-align: center;
  padding: 85px 0px 40px 0px; }

.scroll-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid #fff 2px;
  border-radius: 0px 0px 5px 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top-color: transparent;
  border-left-color: transparent; }

.side-nav {
  position: fixed;
  top: 90px;
  right: 45px;
  z-index: 999;
  width: 25px; }
  .side-nav__item {
    border-radius: 50%;
    padding: 5px;
    width: 7px;
    height: 7px;
    margin: 0 auto 5px auto;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; }
    .side-nav__item a {
      display: block;
      background-color: #fff;
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  .side-nav__item--active {
    border: solid 1px #fff; }

.about {
  background-image: url(../img/webest/background.jpg);
  background-size: cover;
  background-position: center;
  padding: 70px 0px 150px 0px;
  color: #2f3234; }

.section-header {
  font-family: Gagalin, Arial, sans-serif;
  font-size: 72px;
  text-align: center;
  line-height: 64px;
  margin-bottom: 90px; }

.advantages {
  width: 33.33%;
  text-align: center;
  float: left;
  padding: 0px 10px; }
  .advantages__icon {
    display: inline-block;
    margin-bottom: 20px;
    height: 100px;
    width: 100px; }
  .advantages__header {
    font-family: Lifehack, serif;
    font-size: 24px;
    margin-bottom: 12px; }
  .advantages__text {
    font-weight: 300; }
