*{
  box-sizing: border-box;
}
img {
  box-sizing: content-box;
}

html, body{
	font-family: Ubuntu, sans-serif;
	font-size: $htmltextsize;
	font-weight: 400;
  height: 100%;
  width: 100%;
  line-height: rem(24px);
  color: $maintext;

  @include phones(){
    font-size: 2.9vw;
  }
}

section{
  height: 100%;
  min-height: rem(650px);
  position: relative;
}

h1, h2, h3, h4, h5{
  margin: 0;
  line-height: inherit;
}

ul{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
}

.wrapper{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.maincontent{
  height: 100%;
  transition: all 1s;
}

.container{
  max-width: rem(960px);
  margin: 0 auto;
  padding: rem(0px) rem(10px);
}

.responsive-img{
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.section__title{
  font-family: $headerfont;
  font-size: $headertext;
  color: $yellowtext;
  line-height: rem(64px);

  @include phones(){
    font-size: rem(50px);
  }
}








