.icon{
	display: inline-block;
	width: rem(30px);
    height: rem(30px);
    fill: currentColor;
}

.icon_scroll{
    fill: #fff;
}

.icon_meat{
    fill: #e25028;
}

.icon_hand{
    fill: #f8b43a;
}

.icon_natural{
    fill: #8ac03e
}

.social-icons{
    display: flex;
}

.icon_social{
    color: #5a5a5a;
    width: rem(25px);
    height: rem(25px);

    &:hover{
        color: $maintext;
    }
}

.icon_phone{
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(7px);
}

