.icon{
	display: inline-block;
	width: 30px;
    height: 30px;
    fill: currentColor;
}

.icon_scroll{
    fill: #fff;
}

.icon_meat{
    fill: #e25028;
}

.icon_hand{
    fill: #f8b43a;
}

.icon_natural{
    fill: #8ac03e
}

.social-icons{
    display: flex;
}

.icon_social{
    color: #5a5a5a;
    width: 25px;
    height: 25px;

    &:hover{
        color: $maintext;
    }
}

.icon_phone{
    width: 12px;
    height: 12px;
    margin-right: 7px;
}

