.about{
	background: url(../img/webest/background.jpg) center;
	background-size: cover;
	color: #2f3234;
}

.about__container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: rem(70px) rem(0px);
	min-height: 100vh;
}

.about__title{
	color: #2f3234;
	text-align: center;
	margin-bottom: rem(90px);
}

.about__advantages{
	display: flex;
	align-self: center;
	justify-content: center;

	@include phones(){
		flex-direction: column;
	}
}

.advantage{
	text-align: center;
	padding: rem(0px) rem(10px);
	flex: 1;

	@include phones(){
		display: flex;
		text-align: left;
		margin-bottom: rem(50px);
	}
	
	&__icon{
		margin-bottom: rem(40px);
		height: rem(100px);
		width: rem(100px);

		@include phones(){
			flex: 1 0 rem(100px);
			margin-right: rem(20px);
		}
	}

	&__header{
		font-family: $subheaderfont;
		font-size: rem(24px);
		margin-bottom: rem(12px);
	}

	&__text{
		font-weight: 300;
	}
}
