.about{
	background: url(../img/webest/background.jpg) center;
	background-size: cover;
	padding: 70px 0px;
	color: #2f3234;
}

.about__container{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.about__title{
	color: #2f3234;
	text-align: center;
	margin-bottom: 90px;
	flex: 1;
}

.about__advantages{
	flex: 4;
	display: flex;
	justify-content: center;
}

.advantage{
	text-align: center;
	padding: 0px 10px;
	flex: 1;
	
	&__icon{
		margin-bottom: 40px;
		height: 100px;
		width: 100px;
	}

	&__header{
		font-family: $subheaderfont;
		font-size: 24px;
		margin-bottom: 12px;
	}

	&__text{
		font-weight: 300;
	}
}
