.burgers{
    background: linear-gradient(#f9b43b, #eb8e38, #f9b43b);
    display: flex;
    align-items: center;
    @include tablets(){
        height: auto;
        padding: 50px 0px;
    }

}

.burgers__container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;

    @include tablets(){
        max-width: 644px;
    }

    @include phones(){
        max-width: 480px;
    }

}

.slider__controls{
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 999;
    &_left{
        right: 100%;
    }

    &_right{
        left: 100%;
    }

    a{
        color: $maintext
    }

    @include tablets(){
        &_left{
            left: 0;
            right: initial;
        }

        &_right{
            right: 0;
            left: initial;
        }
    }
}

.slider__wrapper{
    overflow-x: hidden;
    position: relative;
    // height: 100%;
    display: flex;
    align-items: center;
}

.slider__list{
    white-space: nowrap;
    font-size: 0;
    margin: 0;
    // position: absolute;
    width: 100%;
    // left: 0;
    transition: all 1s;
}

.slider__item{
    font-size: $htmltextsize;
    display: inline-block;
    width: 100%;
    height: 100%;
    white-space: normal;
    vertical-align: top;
    position: relative;
}

.burgers__slide{
    display: flex;
    height: 100%;
    @include tablets(){
        flex-direction: column;
        justify-content: center;
        
    }

    @include phones(){
        
    }
}

.burgers__left, .burgers__right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 rem(10px);
}

.burgers__left{
    @include tablets(){
        padding: 0 rem(40px);
    }

    @include phones(){
        padding: 0 rem(10px);
        justify-content: flex-end;
    }
}

.burgers__right{
    @include tablets(){
        padding: 0 rem(10px);
        align-items: center;
    }
}

.burgers__title{
    color: $maintext;
    margin-bottom: rem(45px);

    @include tablets(){
        padding: 0 rem(50px);
    }

    @include phones(){
        margin-bottom: 0;
    }
}

.burgers__text{
    margin-bottom: rem(35px);
    font-weight: 300;

    @include phones(){
        margin-bottom: 0;
    }
}

.burgers__title, .burgers__text{
    @include tablets(){
        text-align: center;
    }
}

.burgers__order{
    display: flex;
    align-items: baseline;
    padding: rem(30px) 0;
    color: #e35028;
}

.burgers__price{
    font-size: $headertext;
    font-family: $headerfont;
    margin-right: rem(10px);
}

.burgers__button{
    align-self: flex-end;
}

.burgers__currency{
    font-family: $headerfont;
    font-size: rem(30px);
    margin-right: rem(30px);
}

.burgers__img{
    position: relative;
    text-align: center;
}

.burgers__photo{
    max-height: rem(300px);
    max-width: 100%;
}

.burgers__caption{
    width: rem(90px);
    height: rem(90px);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burgers__caption_top{
    background: rgba(#e35028, .4);
    border-radius: rem(7px);
    top: rem(-80px);
    cursor: pointer;
    transition: all .3s;

    &:hover{
        background: #e35028;
        .burgers__popup{
            display: block;
        }
    }

    @include tablets(){
        position: relative;
        top: 0;
    }
}

.burgers__caption_bottom{
    bottom: rem(-80px);

    @include tablets(){
        top: 0;
        right: 0;
    }

}

.burgers__sub{
    font-family: $headerfont;
}

.burgers__sub_inner{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size: rem(24px);

}

.burgers__popup{
    position: absolute;
    left: 100%;
    top: 0;
    background: rgba(255,255,255, .9);
    color: #2f3234;
    padding: rem(20px);
    width: rem(270px);
    border-radius: rem(7px);
    display: none;
    z-index: 2
}
.contents{
    display: flex;
    flex-direction: column;
}
.contents__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(10px);

    &:last-child{
        margin-bottom: 0;
    }
}

.contents__product{
    display: flex;
    align-items: center;
}

.contents__weight{
    white-space: nowrap;
}

