.button{
  display: inline-block;
  font-size: rem(13px);
  line-height: 1em;
  padding: rem(13px) rem(16px);
  border-radius: rem(5px);
  text-transform: uppercase;
  text-decoration: none;
  color: $maintext;
  vertical-align: middle;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.button_order{
	background-color: #e45028;
	&:hover{
		background-color: #c1401e;
	}
}

.button_review{
  background-color: #2f3234;

  &:hover{
    background-color: #1f2122;
  }
}