.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: rem(60px);
    background-color: #111;

    @include phones(){
        height: auto;
    }
}

.footer__container{
    display: flex;
    align-items: center;
    height: 100%;

    @include phones(){
        flex-direction: column;
        padding: rem(15px) 0;
    }
}

.footer__contacts{
    margin-right: auto;

    @include phones(){
        margin-right: 0;
        margin-bottom: rem(10px);
    }
}

.footer__adress{
    font-weight: 300;
}

.footer__phone{
    color: #e45028;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.footer__adress, .footer__phone{
    @include phones(){
        justify-content: center;
    }
}

.social-icons__item{
    margin-right: rem(20px);
    &:last-child{
        margin-right: rem(0px);
    }
}