// МЕНЮ
.topline{
	display: flex;
	align-items: center;
	padding: rem(10px);
}

.topline__logo{
  padding: 0 rem(10px);
  margin-right: auto;
}

.topline__logo-img{
	width: rem(90px);
	height: auto;
}


.topline__nav{
	padding: rem(0px) rem(10px);

	@include tablets(){
		display: none;
	}
}

.topline__nav_active{
	@include tablets() {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #2f3334;
	}
}

.nav{

	&__list{
		display: flex;
		
		@include tablets(){
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			flex-direction: column;
		}
	}
	&__item{
		margin-left: rem(14px);
		display: flex;
		align-items: center;

		@include tablets(){
			flex-direction: column;
		}

		&:after{
			content:'';
			display: block;
			width: rem(5px);
			height: rem(5px);
			border-radius: 50%;
			background-color: #fff;
			margin-left: rem(14px);

			@include tablets(){
				margin: rem(20px) 0;
			}
		}

		& a{
			border-bottom: solid 1px transparent;
			&:hover{
				border-color: #fff;
			}	
		}

		&:last-child{
			margin-right: rem(12px);
			&:after{
				display: none;
			}
			@include tablets(){
				margin-right: 0;
			}
		}

		& a{
			text-decoration: none;
			text-transform: uppercase;
			font-size: rem(13px);
			font-family: Ubuntu, Arial, Sans-serif;
			font-weight: 400;
			color: $maintext;

			@include tablets(){
				font-size: rem(24px);
				font-weight: 300;
			}
		}
	}
}

.nav-toggle{
	position: relative;
	height: rem(23px);
	align-items: center;
	margin-left: rem(30px);
	display: none;

	@include tablets() {
		display: flex;
	}

	&__button{

		&, &:before, &:after {
			background: #fff;
			width: rem(25px);
			height: rem(5px);
			border-radius: rem(3px);
			display: block;
		}

		&:before, &:after {
			content: "";
			position: absolute;
		}

		&:before {
			top: 0;
		}

		&:after {
			bottom: 0;
		}
	}

	&__button_close{

		&, &:before, &:after {
			background: transparent;
			width: rem(25px);
			height: rem(5px);
			border-radius: rem(3px);
			display: block;
		}

		&:before, &:after {
			background: #fff;
		}

		&:before, &:after {
			content: "";
			position: absolute;
		}

		&:before {
			transform: rotate(-45deg);
		}

		&:after {
			transform: rotate(45deg);
		}
	}
}


// ОСНОВНОЙ КОНТЕНТ

.header{
	background: url("../img/header/header-bg.jpg") center;
	background-size: cover;
}

.header__container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.header__content{
	display: flex;
	justify-content: center;

	@include tablets () {
		flex-direction: column;
		padding: 0 rem(170px);
	}

	@include phones(){
		padding: 0 rem(50px);
	}
}

.header__left, .header__right{
	flex: 1;
}

.header__right{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header__img{
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
}

.header__title, .header__subtitle{

	@include tablets(){
		text-align: center;
	}
}

.header__title{
	// margin-top: rem(115px);
	line-height: rem(85px);

	@include tablets(){
		margin-top: rem(45px);
	}

	@include phones(){
		font-size: rem(63px);
	}
}

.header__subtitle{
	margin-top: rem(20px);
	font-family: $subheaderfont;
	font-size: rem(65px);
	line-height: rem(60px);

	@include phones(){
		font-size: rem(54px);
		margin-top: 0;
	}
}

.scroll{
	width: 100%;
	text-align: center;
	padding:  0 0 rem(50px);
}


