// МЕНЮ
.topline{
	height: 90px;
}

.topline__logo{
  float: left;
  line-height: 90px;
  padding: 0px 10px;

  &-img{
    display: inline-block;
    max-height: 90px;
    vertical-align: middle;
  };
}

.topline__right{
	float: right;
}

.topline__nav{
	padding: 0px 10px;
}

.topline__button{
	background-color: #e45028;
	&:hover{
		background-color: #c1401e
	}
}

.nav{
	display: inline-block;

	&__item{
		display: inline-block;
		line-height: 90px;
		margin-left: 14px;

		&:after{
			content:'';
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: #fff;
			display: inline-block;
			vertical-align: middle;
			margin-left: 14px;
		}

		&:last-child{
			margin-right: 12px;
			&:after{
				display: none;
			}
		}

		& a{
			text-decoration: none;
			text-transform: uppercase;
			font-size: 13px;
			font-family: Ubuntu, Arial, Sans-serif;
			font-weight: 500;
			color: $maintext;
			vertical-align: middle;
		}
	}
}



// ОСНОВНОЙ КОНТЕНТ

.header{
	background-image: url(../img/header/header-bg.jpg);
	background-size: cover;
	background-position: center;

	&__left, &__right{
		float: left;
		width: 50%;
		padding: 0px 10px;
	}

	&__left{
		text-align: center;
	}
	&__right{
	}

	&__title{
		margin-top: 115px;
		font-family: $headerfont;
		font-size: $headertext;
		color: $yellowtext;
		line-height: 85px;
	}

	&__subtitle{
		margin-top: 20px;
		font-family: $subheaderfont;
		font-size: 65px;
		line-height: 60px;
	}
}

.scroll{
	width: 100%;
	text-align: center;
	padding: 85px 0px 40px 0px;
}

.scroll-icon{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: solid $maintext 2px;
	border-radius: 0px 0px 5px 0px;
	transform: rotate(45deg);
	border-top-color: transparent;
	border-left-color: transparent;
}

.side-nav{
	position: fixed;
	top: 90px;
	right: 45px;
	z-index: 999;
	&__item{
		border-radius: 50%;
		padding: 5px;
		width: 7px;
		height: 7px;
		margin: 0 auto 5px auto;
		box-sizing: content-box;

		& a{
			display: block;
			background-color: $maintext;
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}
	&__item--active{
		border: solid 1px $maintext;
	}
}

