// МЕНЮ
.topline{
	display: flex;
	align-items: center;
	padding: 10px;
}

.topline__logo{
  padding: 0px 10px;
  margin-right: auto;
}

.topline__logo-img{
	width: 90px;
	height: auto;
}


.topline__nav{
	padding: 0px 10px;
}

.nav{
	&__list{
		display: flex;
	}
	&__item{
		margin-left: 14px;

		&:after{
			content:'';
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: #fff;
			display: inline-block;
			vertical-align: middle;
			margin-left: 14px;
		}

		&:last-child{
			margin-right: 12px;
			&:after{
				display: none;
			}
		}

		& a{
			text-decoration: none;
			text-transform: uppercase;
			font-size: 13px;
			font-family: Ubuntu, Arial, Sans-serif;
			font-weight: 500;
			color: $maintext;
		}
	}
}

.nav-toggle{
	display: flex;
	position: relative;
	height: 23px;
	align-items: center;
	margin-left: 30px;
	display: none;

	&__button{

		&, &:before, &:after {
			background: #fff;
			width: 25px;
			height: 5px;
			border-radius: 3px;
			display: block;
		}

		&:before, &:after {
			content: "";
			position: absolute;
		}

		&:before {
			top: 0;
		}

		&:after {
			bottom: 0;
		}
	}
}


// ОСНОВНОЙ КОНТЕНТ

.header{
	background: url("../img/header/header-bg.jpg") center;
	background-size: cover;
}

.header__container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.header__content{
	display: flex;
	justify-content: center;
}

.header__left, .header__right{
	flex: 1;
}

.header__img{
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
}

.header__title{
	margin-top: 115px;
	line-height: 85px;
}

.header__subtitle{
	margin-top: 20px;
	font-family: $subheaderfont;
	font-size: 65px;
	line-height: 60px;
}



.scroll{
	width: 100%;
	text-align: center;
	padding: 40px 0px;
}


