.menu{
    background: url("../img/menu/menu-bg.jpg") center;
    background-size: cover;
    padding-top: rem(110px);
}

.menu__title{
    color: #fff;
}

.menu__wrapper{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    @include tablets(){
        width: 100%;
    }
}

.menu-list{
    display: flex;
    height: 100%;
    justify-content: flex-end;
}

.menu-list__item{
    display: flex;
}

.menu-list__type{
    width: rem(80px);
    position: relative;
    
    @include tablets(){
        width: rem(50px);
    }

    &_bg-meat{
        background: url("../img/menu/menu-items/bg-meat.jpg") center;
        background-size: cover;
    }

    &_bg-vegan{
        background: url("../img/menu/menu-items/bg-vegan.jpg") center;
        background-size: cover;
    }

    &_bg-diet{
        background: url("../img/menu/menu-items/bg-diet.jpg") center;
        background-size: cover;
    } 
}
.menu-list__wrapper{
    background-color: rgba(black, .55);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.menu-list__link{
    font-family: $headerfont;
    font-size: rem(40px);
    line-height: rem(64px);
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transform: translate(-50%, -50%) rotate(-90deg);
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
}

.menu-list__popup{
    background-color: rgba(#2f3234,0.93);
    font-weight: 300;
    width: 0;
    padding: 0;
    overflow: hidden;
}

.menu-list__item_active{
    .menu-list__popup{
        padding: rem(60px) rem(30px);
        width: rem(540px);

        @include tablets(){
            width: 100%;
        }
    }
}

