.reviews{
	display: flex;
	flex-wrap: wrap;
}
.review {
	flex: 1 0 25%;
	height: 50%;
	background-size: cover;
	background-position: center;
	filter: grayscale(100%);
	position: relative;
	overflow: hidden;

	@include tablets(){
		flex-basis: 50%;
		height: 25%;
	}

	&:hover{
		.review__caption{
			bottom: 0;
			opacity: 1;
		}
	}
}	

.review__caption{
	height: 100%;
	width: 100%;
	padding: rem(50px) rem(20px);
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 100%;
	opacity: 0;
	transition: all .5s ease-in-out;

	@include tablets(){
		text-align: center;
		padding: rem(30px) rem(50px);
	}

	@include phones(){
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}


}

.review__title{
		font-family: $headerfont;
		font-size: rem(14px);
		line-height: 2em;
		margin-bottom: rem(20px);
		text-transform: uppercase;
		
		@include tablets(){
			margin-bottom: rem(10px);
		}

		@include phones(){
			font-size: rem(24px);
			line-height: rem(28px);
		}

}
	
.review__text{
		font-weight: 300;
		margin-bottom: rem(20px);

		@include phones(){
			display: none;
		}

	}


