.team{
    background: url("../img/team/team-bg.jpg") center;
    background-size: cover;
}

.team__wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background-color: rgba(#2f3234,0.93);
    padding: rem(90px) rem(80px);

    @include tablets(){
        width: 100%;
        position: relative;
    }
}

.team__title{
    margin-bottom: rem(90px);
    @include tablets(){
        text-align: center;
    }
}

.team-members{        
}

.team-member__item{

    &_active{
        .team-member__card{
            height: 100%;
        }
        .team-member__name{
            color: $yellowtext;
            &:before{
                transform: rotate(180deg);
            }
        }
    }
}

.team-member__name{
    font-family: $headerfont;
    line-height: 2em;
    margin-bottom: rem(10px);
    display: flex;
    align-items: center;
    
    @include tablets(){
        justify-content: center;
    }

    &:before{
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-top: solid $yellowtext rem(5px);
        border-left: solid transparent rem(5px);
        border-right: solid transparent rem(5px);
        margin-right: rem(10px);
    }
}

.team-member__card{
    height: 0;
    overflow: hidden;
    display: flex;
    margin-bottom: rem(40px);

    @include tablets(){
        flex-direction: column;
        align-items: center;
        margin-bottom: rem(20px);
    }
}

.team-member__photo{
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin: 0 rem(16px);
    font-size: 0;
    align-items: center;
    display: flex;
}

.team-member__desc{
    width:60%;
    flex-shrink: 0;
}

.team-member__position{
    font-weight: 700;
    margin-bottom: rem(10px);
}

.team-member__text{
    font-weight: 300;
}

.team-member__position, .team-member__text{
    @include tablets(){
        text-align: center;
    }
}

